<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108959283449-p5an13kkc95vi77je8902tn7don2ce1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108959283449-p5an13kkc95vi77je8902tn7don2ce1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAAGg2kMhh4ej-V4-YnReZGvLntxGN7aAU</string>
	<key>GCM_SENDER_ID</key>
	<string>108959283449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agendaboa.agendaBoa</string>
	<key>PROJECT_ID</key>
	<string>agendaboa-72739</string>
	<key>STORAGE_BUCKET</key>
	<string>agendaboa-72739.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108959283449:ios:278a41567548a409bb4a28</string>
</dict>
</plist>